{{> head }}

{{> navbar }}

<div class="row" style="padding: 15px;">

    <div class="col">
        <h1>katahara Sayaka (片原 鞘香, Katahara Sayaka; "Sayaka Katahara") </h1>
        <p>Sayaka is the daughter of Katahara Metsudo, half-sister of Katahara Retsudo, and announcer for the Kengan Annihilation Tournament.
        In the two years since the tournament, Sayaka has become a Kengan Association official, playing an integral role in the Kengan
        Association administration.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/katahara.jpg" class="img-thumbnail"/>
    </div>

</div>

{{> footer }}



